.tickets{
        display: flex;
        flex-direction: column;
} 
.ticket{
        background-color:rgb(219, 235, 248);
        border:1px dotted rgb(56, 42, 133);
        padding: 0.7rem;
        margin: 0.5rem;
        max-width: 40rem;

}

.ticket__delete{
        margin-left: auto;
        /* background-color: aquamarine; */
}

.ticket__finish{
        margin-left: auto;
}

.ticket__footer{
        display: flex;
        padding: 1rem 0 0 0;
        /* border-top: 1px dashed rgb(29, 29, 56); */
        margin: 1rem 0 0 0;
}
.ticket__header{
        font-size: larger;
        padding: 0 0 1rem 0;
}