.tickets{
        display: flex;
        flex-direction: column;
} 
.ticket{
        background-color:rgb(219, 235, 248);
        border:1px dotted rgb(56, 42, 133);
        padding: 0.7rem;
        margin: 0.5rem;

}